* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 380px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgb(142, 140, 140);
}

.container h1 {
  padding-bottom: 10px;
}
